@model NewsCheck.Models.Comment

@{
    ViewBag.Title = "NewUserPage";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5" id="start_discussion">
            <div class="card" id="user_page_card">
                <div class="card-body">
                    <h2 class="card-title" id="card_title">Welcome Back @ViewBag.CardName</h2>
                    <p class="card-text" id="card_text">You can now post your story link and leave a comment.</p>
                    <button class="btn btn-primary" id="show_textbox">Start Discussion</button>
                </div>
            </div>
        </div>
        <div class="col-md-7" id="form_col">
            <div class="form-group" id="text_hide">
                @using (Html.BeginForm("NewUserPage", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.TextAreaFor(x => x.Content, new { @class = "form-control", @placeholder = "Enter link and comment", id = "text_area" })
                    <input class="btn btn-primary" type="submit" value="Submit" id="user_submit_btn" />
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/UserPage.js"></script>
    }
    
