@model IEnumerable<WhiskeyTangoFoxtrot.Models.City>

@{
    ViewBag.Title = "Search";
}

<br />

<div class="jumbotron">
    <h1 style="text-align: center">Find VA Facility Near You</h1>
</div>

<head>
    <link href="~/Content/CSS/FacilitySearch.css" rel="stylesheet" type="text/css" />
</head>

<br />

<!-- Drop down menu that will display a list of cities available to search for -->
<div style="text-align: center">
    <select id="selectCity" class="custom-select-lg">
        <option value="" disabled selected>-- Select City --</option>
        @foreach (var item in Model)
        {
            <option id="@item.City1" onclick="findCity(@item.Latitude, @item.Longitude)">@item.City1</option>
        }
    </select><br />
</div><br />

<!-- Facility search results will go here -->
<div id="map" style="display:none"></div><br />
<div id="results"></div><br />

@section Scripts{
    <!-- This key has heavy restrictions and only allowed on the depolyed site -->
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBERe0UJKwjez5wZByGBUoEAQx0cy67vEk"></script>
    <script type="text/javascript" src="~/Scripts/VAFacilitySearch.js"></script>
}