﻿@{
    ViewBag.Title = "Contact Us";
}
<h2 style="text-align:center">@ViewBag.Title</h2>

<p style="text-align:center">
    We would love to hear from you! If you have any suggestions, comments, or concerns, please contact us at: <strong>whiskey.tango.foxtrot.site@gmail.com</strong>
</p>
