﻿@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/CSS/Site.css" />

@*Index page container that holds image and transbox*@
<div class="container-fluid">
    <div class="col-lg-12" id="main_head_div">
        <h1 id="main_h1">Whiskey Tango Foxtrot</h1>
        @*The transbox which holds information about the site; located within image*@
        <div class="transbox">
            <p class="main_paragraph">
                Welcome to Whiskey Tango Foxtrot!
                Our site is designed to be a place for military personnel and their families to search for VA facilities, discuss topics of interest,
                and live chat with others. We want our site to be easy to use and give our service men and women a place where they can get needed value all
                in one spot.
            </p>
            <p class="main_paragraph">
                This site is just coming into its own, meaning that we would like to add features a little at a time that will bring greater value to our
                military veterans which will include ways to check your benefits, schedule appointments, and anything else that would make getting things
                accomplished in a more streamlined manner. You've dedicated your life to your country, and we believe you need an easier way to navigate life
                and keep it uncomplicated to find the services and help you need.
            </p>
            <p class="main_paragraph">
                Currently, we offer limited services, but with your help, our goal is to create a site that is what our military personel want, so please use
                our contact page to send us a message of the services you would find beneficial to you. We have our ears open and look forward to hearing from
                you. Thank you for your service and dedication.
            </p>
        </div>
    </div>
</div>
@*Section of index which contains cards with links to specific areas within the site; cards used for future features can be added in this area*@

<div class="row">
    <div class="card-deck">
        <div class="col-md-4">
            <div class="card">
                @*Card for VA facility search*@
                <img class="card-img-top" src="~/Content/images/map.jpg" alt="Map image" />
                <div class="card-body">
                    <h3>Find a VA Facility</h3>
                    <p>
                        We can help you find a local VA facility, or if you are traveling and want to find a facility to where you will be staying,
                        you can also access that information. The information provided will include the name of the facility, its address and telephone
                        number, and the hours of operation.
                    </p>
                    <p style="text-align:center">
                        <input type="button" class="btn btn-primary btn-sm" value="Find A Facility" onclick="location.href='@Url.Action("Search", "VAFacilitySearch")'" />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                @*Card for discussion page; can be changed to link to forums page*@
                <img class="card-img-top" src="~/Content/images/soldieroncomputer.jpg" alt="Soldier on computer" />
                <div class="card-body">
                    <h3>Start a Discussion</h3>
                    <p>
                        We offer a discussion page where you can find what other military people are talking about. At times, you may need
                        information about the conditions of a VA facility in your area or how people are treated at a certain location. This is
                        a great place to start. Unfortunately, our discussion page is for site account holders so we can control any false information
                        from being spread.
                    </p>
                    <p style="text-align:center">
                        <input type="button" class="btn btn-primary btn-sm" value="View Forums" onclick="location.href='@Url.Action("Index", "Forum")'" />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                @*Card to link to live chat page; the link triggers a modal popup to prompt the user to log in or use an anonymous name to use the
                    chat feature*@
                <img class="card-img-top" src="~/Content/images/livechat.jpg" alt="Live chat emblem" />
                <div class="card-body">
                    <h3>Live Chat with a Friend</h3>
                    <p>
                        Sometimes as people, we just need to reach out to loved ones or others for advice or a shoulder to lean on. With our live
                        chat, we want to help you with this valuable resource. Find those people that can give you the comfort you need when you
                        need it.
                    </p>
                    <p style="text-align:center">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#target_modal">Live Chat</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="answer"></div>
@*Modal popup for user choice of logging in or to be given a random 'anon' name; cancel button just leaves user on index page*@
<div class="modal fade" id="target_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            @*Header section which is used to close the modal window*@
            <div class="modal-header">
                <h5 class="modal-title">Close Window</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @*Body section which contains information for the user to select log in or 'anon' name*@
            <div class="modal-body">
                <p>
                    In order to use the live chat, you will need to provide a name.
                    Would you like to log in or use an anonymous name?
                </p>
            </div>
            @*Footer section with buttons for user selection*@
            <div class="modal-footer">
                @*This button redirects the user to the log in page*@
                <form action="/Account/Login" method="get">
                    <button type="submit" class="btn btn-warning" id="login_btn" onclick="getBtnEventLogin()">Log In</button>
                </form>
                @*This button redirects the user to the live chat page*@
                <form action="/Home/MessageBoard" method="get">
                    <button type="submit" class="btn btn-warning" id="lc_btn">Anonymous</button>
                </form>
                @*This button stays on the index page; no redirect*@
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>