﻿
@{
    ViewBag.Title = "MessageBoard";
}

<h2 id="chat_h2">Live Chat</h2>

@*Main div to hold page elements*@
<div id="chat_div_main">
    @*Welcome div to display Welcome with user's name; including anon names*@
    <div class="col-4" id="welcome_spot">
        Welcome @ViewBag.chatUser
    </div>
    @*Chat box div*@
    <div class="container-fluid">
        <div class="row">
            <div class="chat-panel panel panel-default" id="chatbox_div">
                @*Panel heading*@
                <div class="panel-heading" id="chatbox_header">
                    Chat Box
                    <i class="fa fa-paper-plane fa-fw"></i>
                </div>
                @*Panel body*@
                <div class="panel-body" >
                    <div class="chat_body" id="chat">
                        @*displayname holds the username for the live chat*@
                        <input type="hidden" id="displayname" />
                        <div class="chat_message" id="discussion"></div>
                        <audio src="~/Content/Audio/MsgNudge.wav" autostart="true" id="audio" />
                    </div>
                </div>
                @*Panel footer*@
                <div class="panel-footer">
                    <div class="input-group">
                        @*Textbox for writing messages to post*@
                        <input type="text" id="message" class="form-control" placeholder="Enter your message here..." />
                        <span class="input-group-btn">
                            @*Button to post message*@
                            <button id="sendmessage" type="button" class="btn btn-primary btn-sm" >Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="chatbox_footer">
        <p class="lead">
            To use the chat box, enter your message in the prompted area at the bottom of the chat area and click on the button to
            send your message. Your message will appear on the right-hand side of the chat area and replies will be on the left-hand
            side.
        </p>
        <p class="lead">
            Thank you for using our chat service!
        </p>
    </div>
</div>

@section scripts {
    @*Reference JQuery library*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*Reference SignalR library*@
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    @*Reference auto-generated SignalR hub script --WILL NOT BE FOUND! SIGNALR USES THIS--*@
    <script src="~/signalr/hubs"></script>
    @*Add MyScripts.js file with function to run chat box*@
    <script src="~/Scripts/MyScripts.js" type="text/javascript"></script>
}