﻿@{
    ViewBag.Title = "Our Mission";
}
<h2>@ViewBag.Title.</h2>

<div class="col-lg-12">
    <p class="lead">
            Our mission is to provide our dedicated service men, women, and their families a way to access services to make life a little easier.
            We believe that by creating a website that allows an easy way to find VA facilities, have discussions, and to live chat were important
            services for our veterans.
        </p>
        <p class="lead">
            Currently, we have not found another website that offers multiple services that would provide an all-in-one platform where a veteran or
            family member can go to receive information such as looking for a VA facility and finding out through a discussion board what type of
            services are offered at the facility or what the customer service was like when someone else visited that facility. With our site, you
            will have this type of access to that information.
        </p>
        <p class="lead">
            This website is a work in progress meaning we envision more services offered later on which will include checking benefits, making
            appointments at a specific facility, and requesting Uber or Lyft transportation to a scheduled appointment. Please visit our contact page
            and feel free to send us an email telling us what services you would like to see added to the site. We are building this for you and want
            your experience on our website to be stress free.
        </p>
        <p class="lead">
            All of us at Drunken Coders would like to thank each and every one of you for your dedication and service to our country!
        </p>
        <p><strong>THANK YOU!</strong></p>
</div>

