﻿@model WhiskeyTangoFoxtrot.Models.Viewmodels.ProfileViewModel
@{
    ViewBag.Title = "UserIndex";
}

<link href="/Content/bootstrap.css" rel="stylesheet" />
<link href="/Content/site.css" rel="stylesheet" />
<link href="~/Content/Forum.css" rel="stylesheet"/>

<div class="jumbotron">
    <h1>Hello @Model.UserProfiles.Select(a => a.FirstName).FirstOrDefault() @Model.UserProfiles.Select(a => a.LastName).FirstOrDefault()</h1>

</div>

<div>
    <h2>
        Your Forums

    </h2>
    @{
        if (Model.Forums.Count() == 0)
        {
            <p>Looks like you have no forums</p>
        }
    }

    @foreach (var item in Model.Forums)
    {
        <div class="profileForumPost">
        <a href="../Forum/Details/@item.ForumID">
            <span><i>@item.ForumName</i></span>
            <span class="badge">@Model.ForumPost.Where(a => a.ForumID == item.ForumID).Count()</span>
        </a>
    </div>

    }
</div>
<hr />
<div>
    <h3>
        Forums you post in
    </h3>

    @foreach (var item in Model.ForumPost.GroupBy(x => x.ForumID).Select(g => g.First()))
    {
    <div class="profileForumPost">
        <a href="../Forum/Details/@item.ForumID">
            <span><i>@item.Forum.ForumName</i></span>
            <span class="badge">@Model.ForumPost.Where(a => a.ForumID == item.ForumID).Count()</span>
        </a>
    </div>
        
    }

</div>
