﻿* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    padding-top: 200px;
    padding-bottom: 20px;
    background-color: #B7B7AF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 800px;
}

/*Adjust the spaces in-between the navbar links*/
.layout_margin {
    padding-left: 4rem;
    padding-right: 4rem;
}

/*Add a space between the div rows of cards*/
#second_row_index {
    margin-top: 2rem;
}

/*Photo on the header div on the Index.cshtml page*/
#main_head_div {
    height: 40rem;
    width: 100%;
    background-color: #5d5e60;
    margin-bottom: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px
}

/*Translucent box inside the photo on the header div on the Index.cshtml page*/
div.transbox {
    margin: 2rem;
    background-color: #FFFFF0;
    border: 1px solid #000000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Styling for H1 content on Index.cshtml page*/
#main_h1 {
    text-align: center;
    font-family: Stencil,fantasy;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 4px 4px 4px #aaa;
}

/*Adjust font and word placement within the translucent block in the 
    image on Index.cshtml page
*/
.main_paragraph {
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 800;
}

/*Set the size of the cards on the Index.cshtml page*/
.card {
    height: 36rem;
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Set the height of the image section of the cards on
    the Index.cshtml page
*/
.card-img-top {
    height: 12rem;
}

/*Set the padding of the magnifying glass icon on the 
    `Search for Facility` card on Index.cshtml page
*/
#fa_icon {
    padding-left: 1rem;
}

/*Image styling for Mission.cshtml page*/
#mission_div {
    height: 35rem;
    width: 100%;
    margin-bottom: 3rem;
}

/*Create a fluid div for the faq page*/
#main_div_faq {
    width: 100%;
}

/*Add darker color to header section on FaqPage.cshtml page*/
#faq_page {
    height: 10rem;
    width: 100%;
    text-align: center;
    background-color: #DEB887;
}

/*Add space between the search bar and the header section on
    the FaqPage.cshtml page
*/
#faq_page_questions {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

/*Move search bar to the right for more centered look on
    the FaqPage.cshtml page
*/
#faq_search_div {
    margin-left: 8rem;
}

/*Need to adjust row to fix cards to a certain size; 
    -----THIS IS NOT COMPLETED-----*/
#row_faq {
    height: 10rem;
}

/*Adjust the size of the cards on the FaqPage.cshtml page; 
    -----THIS IS NOT COMPLETED------*/
.card faq-page {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 6rem;
}

/*Center the H2 text on the MessageBoard.cshtml page*/
#chat_h2 {
    text-align: center;
}

/*Set the size of the main div that will hold all the 
    elements of the page on MessageBoard.cshtml page
*/
#chat_div_main {
    width: 100%;
    height: 100%;
}

/*Styling for the chat area on MessageBoard.cshtml page*/
#chatbox_div {
    text-align: center;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 45rem;
    max-height: 30.2rem;
    background-color: #FFFFFF;
    border: medium solid #794044;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*The size of the panel of the chat box that displays the messages on
    the MessageBoard.cshtml page
*/
.chat_body {
    padding: 1rem;
    width: 100%;
    height: 28.5rem;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

/*Fix for scrollbar--?--*/
.chat_body::-webkit-scrollbar {
    width: 10px;
}

/*Fix for scrollbar--?--*/
.chat_body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

/*Adjustments for the messages--NEEDS WORK--*/
.panel-body .chat_message {
    width: 70%;
    padding: 1rem;
    margin: 1rem 2rem 0;
    background-color: #165042;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 18px;
}

/*Textarea on the MessageBoard.cshtml page*/
#message {
    background: #FBFBFB;
    border-radius: 5px;
    resize: none;
}

/*Fix for scrollbar--?--*/
#message::-webkit-scrollbar {
    width: 10px;
}

/*Fix for scrollbar--?--*/
#message::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

/*Add cursor when hover over button on MessageBoard.cshtml page*/
#sendmessage {
    cursor: pointer;
    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}

/*Set the font size on the button element on the
    MessageBoard.cshtml page
*/
#sendmessage {
    font-size: 1.5rem;
}

/*Add space on sides of div to adjust placement of paragraphs
    on the MessageBoard.cshtml page
*/
#chatbox_footer {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#discussion {
    text-align: justify;
}

/* Objects are having trouble staying centered on the page */
.va-search-div {
    text-align: center;
}

.layout_margin {
    -moz-box-shadow: inset 0px 0px 14px -3px #f2fadc;
    -webkit-box-shadow: inset 0px 0px 14px -3px #f2fadc;
    box-shadow: inset 0px 0px 14px -3px #f2fadc;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
    background: -moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: -webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: -o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
    background-color: #9f8d2e;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #b2b8ad;
    display: inline-block;
    cursor: pointer;
    color: #243719;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 9px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ced9bf;
}

.layout_margin:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
    background: -moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background: -webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background: -o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
    background-color: #9ba892;
}

.layout_margin:active {
    position: relative;
    top: 1px;
}

.jumbotron {
    background-color: #5d5e60;
    color: whitesmoke;
}

.profileForumPost {

    background-color: #555;
    color: yellow;
    text-decoration: none;
    padding: 15px 30px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.profileForumPost:hover {
        background: #978946;
}

.profileForumPost .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 10px;
        border-radius: 50%;
        background: red;
        color: white;
}

