﻿@model WhiskeyTangoFoxtrot.Models.Viewmodels.ForumViewModel

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Forum.css" />
</head>
<div class="jumbotron"> <h1>WTF Forums</h1></div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model.Forums)
{
    <div class="forumPost">

        <h3> @Html.DisplayFor(modelItem => item.ForumName)</h3>

        <p><i> @item.WTFUser.Username </i></p>


        @Html.DisplayFor(modelItem => item.Message) <br />

        <p><i>Posts: @Model.ForumPost.Where(a => a.ForumID == item.ForumID).Count()</i></p>
        <p>@Html.ActionLink("View-More", "Details", new { id = item.ForumID })</p>
    </div>


    <hr />
}
